.cardsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2rem;
}
.cardsContainer{
    max-width: 2250px;
}


.countryLink {
    text-decoration: none;
    color: inherit; 
    cursor: pointer; 
  }